body {
  margin: 0;
  padding: 0;
  background-color: #394b59;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 760px;
  text-align: center;
}

span.clickable {
  cursor: pointer;
  text-decoration: underline;
}
