.track {
  padding: 10px;
}

.trackActive {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(19, 124, 189);
}

.track .trackImage {
  float: left;
  position: relative;
}

.track .trackImage .image {
  position: absolute;
}

.track .trackImage canvas {
  height: 80px;
  width: 80px;
  margin-left: -10px;
  margin-top: -10px;
  border-right: 0.5px solid rgb(32, 42, 54);
}

.track .trackImage .image img {
  height: 80px;
  width: 80px;
  margin-left: -10px;
  margin-top: -10px;
}

.track .trackImage .overlay {
  display: none;
  position: absolute;
}

.track .trackImage .overlay svg {
  height: 80px;
  width: 80px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: rgb(0, 0, 0, 0.5);
}

.track .trackImage:hover > div .overlay {
  display: block;
  cursor: pointer;
}

.track .trackImage .overlayActive {
  position: absolute;
  height: 80px;
  width: 80px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: rgb(0, 0, 0, 0.5);
}

.track .trackImage .overlayActive svg {
  height: 50px;
  width: 50px;
  margin-top: 14px;
  margin-left: -4px;
}

.track .trackImage:hover > div .overlayActive {
  display: none;
}

.track .trackInfo {
  margin-left: 70px;
}

.track .trackInfoSmall {
  width: 65%;
}

.trackActive .trackInfoSmall {
  width: 80%;
}

.track .trackInfo div {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 2px;
}

.track .trackInfo div span.clickable {
  cursor: pointer;
}

.track .trackRhs {
  float: right;
  margin-top: -60px;
}
