.app {
  padding: 20px;
}

.mainSpinner {
  padding-top: 200px;
}

.login {
  padding: 100px;
}

.login .logo {
  height: 250px;
  width: 250px;
}

.login img {
  margin: 20px;
  height: 60px;
  cursor: pointer;
}

.footer {
  margin-bottom: 50px;
}

.footer div {
  margin-left: 5px;
  margin-top: 5px;
  float: left;
}

.footer .right {
  float: right;
}

span.link {
  color: #48aff0;
  cursor: pointer;
}

span.link:hover {
  text-decoration: underline;
}
