.player {
  height: 140px;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
}

.player .bp3-slider {
  height: 20px;
}

.player .bp3-slider-label {
  display: none;
}

.player .bp3-popover-target {
  display: block;
}

.player .duration {
  padding-bottom: 12px;
}

.player .duration span {
  font-size: 10px;
}

.player .duration .start {
  float: left;
  margin-left: 5px;
}

.player .duration .end {
  float: right;
  margin-right: 5px;
}

.player .content {
  display: inline;
}

.player .content .contentButtons {
  float: left;
  width: 20%;
  margin-top: 20px;
}

.player .content .contentTrack {
  margin: 0 auto;
  width: 300px;
  height: 80px;
  display: inline-block;
}

.player .content .contentLogo {
  float: right;
  width: 80px;
  height: 80px;
}
