.player {
  height: 200px;
  margin-bottom: 20px;
}

.player .bp3-slider-label {
  display: none;
}

.duration {
  padding-bottom: 10px;
}

.duration span {
  font-size: 10px;
  padding-bottom: 5px;
}

.duration .start {
  float: left;
  margin-left: 5px;
}

.duration .end {
  float: right;
  margin-right: 5px;
}
