.player {
  height: 200px;
  margin-bottom: 20px;
}

.player .bp3-slider {
  margin-bottom: -20px;
}

.player .bp3-slider-label {
  display: none;
}

.player .bp3-popover-target {
  display: block;
}

.player .duration {
  padding-bottom: 15px;
}

.player .duration span {
  font-size: 10px;
}

.player .duration .start {
  float: left;
  margin-left: 5px;
}

.player .duration .end {
  float: right;
  margin-right: 5px;
}
