.results .bp3-spinner {
  margin-top: 40px;
}

.results ol {
  padding: 0;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  list-style-type: none;
}

.results ol li {
  width: 333px;
}
