.search input {
  margin-bottom: 10px;
}

.searchResults .bp3-spinner {
  margin-top: 40px;
}

.searchResults ol {
  padding: 0;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.searchResults ol li {
  width: 340px;
  padding: 10px;
}
