#firebaseui_container .firebaseui-container {
  box-shadow: 0 0 0 0;
  background-color: #394b59;
}

#firebaseui_container .firebaseui-card-header {
  display: none;
}

#firebaseui_container .firebaseui-subtitle,
#firebaseui_container .firebaseui-text {
  color: rgba(255, 255, 255, 0.87);
}

#firebaseui_container
  .firebaseui-form-actions
  .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: rgba(0, 0, 0, 0.1);
}
